<!doctype html>
  <!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Site Meta ============================================ -->

      {%- include 'favicon' -%}
      {%- include 'page-title' -%}
      {%- include 'page-description' -%}
      {%- include 'social-meta-tags' -%}

    <!-- jQuery =============================================== -->

      <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
      </script>

    <!-- Font Awesome ========================================== -->
    <script src="https://kit.fontawesome.com/8bf803876c.js"></script>

    <!-- Cart JS  =============================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js"></script>

    <!-- Header Content ======================================= -->

      {{ content_for_header }}

    <!-- Stylesheets ========================================== -->

      {%- include 'style-tags', layout: 'theme' -%}
      {%- include 'css-variables' -%}

    <!-- Scripts ============================================== -->

      {%- include 'script-tags', layout: 'theme' -%}
      {%- include 'shop-api' -%}

    {% if template.directory == 'customers' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}

  </head>

  <body
    data-template="{{ template.name | handle }}"
    {%- if template.suffix != blank -%}
      data-alternate-template="{{ template.suffix | handle }}"
    {%- endif -%}>

    <a href="#MainContent" class="in-page-link u-visually-hidden">Skip to content</a>

    {% comment %}header{% endcomment %}

    <main role="main" class="oo-main" id="MainContent">

      <div id="app-theme">
       <theme-template>
       </theme-template>
      </div>

      {{ content_for_layout }}

    </main>

    <div id="app-theme-footer">
      <theme-template-footer>
      </theme-template-footer>
    </div>

  </body>
</html>
